.center-content {
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 27%;
}

.container-yoga {
    margin-top: 30px;
}

.yoga-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.yoga-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.contain-yoga {
    margin-left: 4%;
}

.custom-card-yoga {
    width: 700px;
    height: 270px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    background-color: #C3EEE8;
}

.card-body {
    margin-top: 7px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.btn-appointment {
    width: 300px;
    margin-left: 25%;
    margin-top: 30px;
    background-color: #259385;
    border-color: #259385;
    font-family: 'Poppins', sans-serif;
}

.btn-appointment:hover {
    background-color: #259385;
    border-color: #259385;
}

.custom-carousel {
    width: 580px;
    height: 700px;
    margin-left: 60px;
    margin-bottom: 200px;
}

.custom-carousel .carousel-item {
    transition: transform 0.5s ease;
    background-image: none;
}

.custom-carousel .carousel-inner {
    overflow: hidden;
}

.prenatal-image {
    width: 550px;
    height: 530px;
}

.therapy,
.hatha {
    width: 540px;
    height: 510px;
}

.footer {
    background-image: url('../images/home/bg-footer.jpg');
    background-size: cover;
    height: 35vh;
    padding: 20px;
    text-align: center;
    margin-top: -250px;
}

.footer-logo img {
    width: 100px;
    margin-top: 50px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .center-content {
        width: 70%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .yoga-head {
        font-size: 30px;
    }

    .yoga-description {
        font-size: 14px;
    }

    .container-yoga {
        margin-top: 10px;
    }

    .contain-yoga {
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px;
    }

    .custom-card-yoga {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 500px;
    }

    label {
        font-size: 14px;
    }

    .btn-appointment {
        width: 250px;
        margin-left: 23%;
    }

    .custom-carousel {
        display: none;
    }
}