.carousel-item:nth-child(1) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(2) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(3) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.header-container {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.text-header {
    font-family: "Elsie", sans-serif;
    font-size: 60px;
    color: white;
}

.text-small-container {
    width: 100%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-small {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btn-start {
    width: 180px;
    height: 50px;
    background-color: #259385;
    border-radius: 30px;
    border-color: #259385;
    margin-left: 40%;
    margin-top: 25px;
}

.btn-start:hover {
    background-color: white;
    border-color: white;
    color: #259385;
}

.image-carousel1 {
    margin-left: 33%;
    align-items: center;
}

.carousel1 {
    height: 100%;
    max-height: 280px;
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

.container-points {
    margin-top: 50px;
    text-align: center;
}

.container-points .col {
    display: inline-block;
    margin: 0 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.point {
    height: 100px;
}

.btn-point {
    width: 150px;
    height: 40px;
    background-color: #259385;
    border-radius: 30px;
    border-color: #259385;
    outline-color: transparent;
}

.btn-point:hover {
    background-color: #292F36;
    border-color: #292F36;
    color: white;
}

.container-practice {
    margin-top: 5%;
}

.practice-header {
    width: 100%;
    max-width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    text-align: center;
}

.practice-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.practice-text {
    width: 100%;
    max-width: 800px;
    margin-left: 26%;
    text-align: center;
}

.practice-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.practice {
    width: 420px;
    height: 350px;
    margin-left: 25%;
    margin-top: 15%;
}

.custom-card-practice {
    width: 100%;
    max-width: 570px;
    height: 150px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.custom-card-practice:hover {
    background-color: #259385;
    font-size: 24px;
    color: #000;
}

.custom-card-practice:hover .btn {
    display: block;
}

.card-body {
    margin-top: 7px;
}

.wind-header,
.stress-header,
.self-header {
    margin-top: 0;
    font-family: 'Elsie', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.wind-text,
.stress-text,
.self-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.container-breath {
    margin-top: 3%;
}

.breath-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    text-align: center;
}

.breath-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.breath-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
}

.breath-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.contain-breath {
    margin-left: 10%;
}

.custom-card-breath {
    width: 90%;
    height: 100px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #C3EEE8, #ffffff); 
    border: 2px solid;
    border-image: linear-gradient(to right, #C3EEE8, #ffffff);
    border-image-slice: 1;
}

.custom-card-breath:hover .btn {
    display: block;
}

.btn-breath {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    background-color: #259385;
    border: none;
    font-size: 0;
}

.btn-breath:hover {
    background-color: #292F36;
    border-color: #292F36;
}

.btn-breath::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17px;
    border-color: transparent transparent transparent #fff;
}

.btn-breath.pause::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-breath.pause::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.breath {
    width: 520px;
    height: 500px;
}

.container-meditation {
    background-image: url('../images/home/bg-meditation.jpg');
    background-size: cover;
    height: 143vh;
    padding: 50px;
}

.meditation-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    margin-top: 50px;
    text-align: center;
}

.meditation-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.meditation-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
    margin-bottom: 20px;
}

.meditation-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.contain-meditation {
    margin-top: 3%;
    margin-left: 12px;
}

.custom-card-left {
    height: 160px;
    width: 100%;
    max-width: 450px;
    margin-bottom: 15%;
    background: linear-gradient(to right, #C3EEE8, #ffffff);
    border: 2px solid;
    border-image: linear-gradient(to right, #259385, #ffffff);
    border-image-slice: 1;
}

.custom-card-right {
    height: 160px;
    width: 100%;
    max-width: 450px;
    margin-bottom: 15%;
    background: linear-gradient(to left, #C3EEE8, #ffffff);
    border: 2px solid;
    border-image: linear-gradient(to left, #259385, #ffffff);
    border-image-slice: 1;
}

.meditation {
    width: 310px;
    height: 700px;
    margin-top: 0%;
    margin-left: 55px;
}

.container-transform {
    margin-top: 5%;
}

.transform-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    text-align: center;
}

.transform-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.transform-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
    margin-bottom: 50px;
}

.transform-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.contain-transform {
    margin-top: 0%;
    margin-left: 12px;
}

.transform-left {
    width: 420px;
    height: 350px;
    margin-left: 22%;
}

.transform-right {
    width: 490px;
    height: 350px;
    margin-left: 10%;
}

.transform {
    width: 550px;
    margin-top: 5%;
}

.left {
    margin-left: 10%;
}

.right {
    margin-bottom: 6%;
    margin-right: 10%;
}

.btnVideo {
    background-color: #259385 !important;
    border-color: #259385 !important;
}

.btn-primary {
    --bs-btn-active-bg: #292F36;
    --bs-btn-active-border-color: #292F36;
    --bs-btn-active-color: #292F36;
}

.footer {
    background-image: url('../images/home/bg-footer.jpg');
    background-size: cover;
    height: 35vh;
    padding: 20px;
    text-align: center;
    margin-top: 7%;
}

.footer-logo img {
    width: 100px;
    margin-top: 50px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .carousel-item {
        min-height: auto;
    }

    .header-container,
    .practice-header,
    .breath-header,
    .meditation-header,
    .transform-header {
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .text-small-container,
    .practice-text,
    .breath-text,
    .meditation-text,
    .transform-text {
        width: 80%;
        text-align: center;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-header {
        font-size: 36px;
    }

    .text-small,
    .practice-description,
    .breath-description,
    .meditation-description,
    .transform-description {
        font-size: 14px;
    }

    .btn-start {
        width: 180px;
        height: 50px;
        background-color: #259385;
        border-radius: 30px;
        border-color: #259385;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: block;
    }

    .image-carousel1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .carousel1 {
        margin-top: 20px;
        max-width: 300px;
    }

    .container-points {
        margin-top: 20px;
    }

    .card {
        margin-top: 15px;
    }

    .container-practice,
    .container-breath,
    .container-transform {
        margin-top: 50px;
    }

    .container {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .practice-head,
    .breath-head,
    .meditation-head,
    .transform-head {
        font-size: 30px;
    }

    .practice,
    .breath,
    .meditation,
    .transform-left,
    .transform-right {
        display: none;
    }

    .custom-card-practice {
        width: 90%;
    }

    .wind-header,
    .stress-header,
    .self-header {
        font-family: 'Elsie', sans-serif;
        font-weight: 800;
        font-size: 18px;
    }

    .wind-text,
    .stress-text,
    .self-text {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 13px;
    }

    .container-meditation {
        min-height: auto;
        margin-top: 50px;
    }

    .meditation-header {
        margin-top: 20px;
    }

    .custom-card-left {
        width: 100%;
        height: 140px;
        margin-bottom: 45px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .custom-card-right {
        display: none;
    }

    .transform {
        margin-top: 0;
    }
    
    .card.mb-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        margin-left: auto;
        margin-right: auto;
    }

    .card-title {
        font-size: 18px !important; /* Adjust the font size to your preference */
    }

    p.videoDescription {
        font-size: 14px !important;
    }
}
