.center-content {
    width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 27%;
}

.yoga-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.yoga-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.container-yoga {
    background-image: url('../images/home/bg-meditation.jpg');
    background-size: cover;
    height: 143vh;
    padding: 50px;
    margin-bottom: 120px;
}

.contain-yoga {
    margin-top: 3%;
    margin-left: 12px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    margin-top: 7px;
}

.self-header,
.sleep-header,
.motivation-header {
    margin-top: 0;
    font-family: 'Elsie', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.self-text,
.sleep-text,
.motivation-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.custom-card-left {
    height: 225px;
    width: 450px;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-top: 5%;
    background: linear-gradient(to right, #C3EEE8, #ffffff);
    border: 2px solid;
    border-image: linear-gradient(to right, #259385, #ffffff);
    border-image-slice: 1;
}

.custom-card-right {
    height: 225px;
    width: 450px;
    margin-bottom: 15%;
    right: 10%;
    margin-top: 5%;
    background: linear-gradient(to left, #C3EEE8, #ffffff);
    border: 2px solid;
    border-image: linear-gradient(to left, #259385, #ffffff);
    border-image-slice: 1;
}

.btn-primary {
    background-color: #259385;
    border-color: #259385;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: #259385;
    border-color: #259385;
}

.btn-secondary {
    background-color: #259385;
    border-color: #259385;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btn-secondary:hover {
    background-color: #259385;
    border-color: #259385;
}

.meditation {
    width: 270px;
    height: 600px;
    margin-top: 30%;
    margin-left: 15%;
}

@media screen and (max-width: 768px) {
    .center-content {
        width: 70%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .yoga-head {
        font-size: 30px;
    }

    .yoga-description {
        font-size: 14px;
    }

    .container-yoga {
        background-image: none;
        margin-top: -80px;
        margin-left: 6%;
    }

    .meditation {
        display: none;
    }

    .footer {
        margin-top: 990px !important; 
        width: 100%;
    }

    .custom-card-right {
        margin-top: 0;
        margin-left: 20%;
    }
}
