.center-content {
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 27%;
}

.yoga-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.yoga-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.container-yoga {
    margin-top: 30px;
    height: 600px;
}

.contain-yoga {
    margin-left: 4%;
}

.custom-card-yoga {
    width: 700px;
    height: 560px;
    position: relative;
    overflow: hidden;
    background-color: #C3EEE8;
}

.info {
    margin-top: 90px;
}

#profileInfo p {
    margin-bottom: 10px; 
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.profile-detail {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px; 
    padding: 10px; 
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.custom-carousel {
    width: 580px;
    height: 700px;
    margin-left: 60px;
    margin-bottom: 200px;
}

.custom-carousel .carousel-item {
    transition: transform 0.5s ease;
    background-image: none;
}

.custom-carousel .carousel-inner {
    overflow: hidden;
}

.prenatal-image {
    width: 550px;
    height: 530px;
}

.therapy,
.hatha {
    width: 540px;
    height: 510px;
}

.footer {
    background-image: url('../images/home/bg-footer.jpg');
    background-size: cover;
    height: 300px !important;
    text-align: center;
    margin-bottom: 0;
}

.footer-logo img {
    width: 100px;
    margin-top: 50px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 50px;
    height: 50px;
}

.btn-sm,
.btn-edit,
.btn-delete {
    background-color: #259385;
    border-color: #259385;
    font-family: 'Poppins', sans-serif;
}

.btn-sm:hover,
.btn-edit:hover,
.btn-delete {
    background-color: #259385;
    border-color: #259385;
}

@media screen and (max-width: 768px) {
    .center-content {
        width: 70%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .yoga-head {
        font-size: 30px;
    }

    .yoga-description {
        font-size: 14px;
    }

    .container-yoga {
        margin-top: -90px;
    }

    .contain-yoga {
        margin-right: auto;
        margin-left: 7px;
    }

    .custom-card-yoga {
        text-align: center;
    }

    .custom-carousel {
        display: none;
    }

    .footer {
        margin-top: -90px !important;
    }
}



