.bg-light {
    background-color: white !important;
}

.navbar-brand {
    display: flex;
    padding: 0;
}

.container {
    margin: 10px;
    height: 50px;
}

.navbar-brand h1 {
    font-family: "Elsie", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 32px;
    padding: 0;
    margin-top: 20px;
    color: #292F36;
}

.navbar-brand img {
    width: 100px;
    height: auto;
    margin: 0;
    padding-right: 10px;
}

.nav-item {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #292F36;
}

.btn-book {
    position: absolute;
    right: 10px;
    background-color: #c49e85;
    border-color: #292F36;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    color: #292F36;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}

.btn-book:hover {
    background-color: #292F36;
    border-color: #292F36;
}

.carousel-item:nth-child(1) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(2) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(3) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.header-container {
    width: 750px;
    margin-left: 25%;
    margin-top: 25px;
    text-align: center;
}

.text-header {
    font-family: "Elsie", sans-serif;
    font-size: 60px;
    color: white;
}

.text-small-container {
    width: 950px;
    margin-left: 18%;
    text-align: center;
}

.text-small {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.image-carousel1 {
    margin-left: 40%;
    align-items: center;
}

.carousel1 {
    height: 280px;
    width: 300px;
    margin-top: 50px;
}

.btn-start {
    width: 180px;
    height: 50px;
    background-color: #259385;
    border-radius: 30px;
    border-color: #259385;
    margin-left: 44%;
    margin-top: 25px;
}

.btn-start:hover {
    background-color: white;
    border-color: white;
    color: #259385;
}

.container-points {
    margin-top: 50px;
    text-align: center;
}

.container-points .col {
    display: inline-block;
    margin: 0 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.point {
    height: 100px;
}

.btn-point {
    width: 150px;
    height: 40px;
    background-color: #259385;
    border-radius: 30px;
    border-color: #259385;
}

.btn-point:hover {
    background-color: #292F36;
    border-color: #292F36;
    color: white;
}

.container-practice {
    margin-top: 5%;

}

.practice-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    text-align: center;
}

.practice-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.practice-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
}

.practice-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.practice {
    width: 420px;
    height: 350px;
    margin-left: 25%;
    margin-top: 15%;
}

.custom-card-practice {
    width: 90%;
    height: 150px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.custom-card-practice:hover {
    background-color: #259385;
    font-size: 24px;
    color: #000;
}

.custom-card-practice:hover .btn {
    display: block;
}

.card-body {
    margin-top: 7px;
}

.wind-header,
.stress-header,
.self-header {
    margin-top: 0;
    font-family: 'Elsie', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.wind-text,
.stress-text,
.self-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.btn-practice {
    display: none;
    position: absolute;
    width: 100px;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
    border-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.btn-practice:hover {
    background-color: #fff;
    border-color: #fff;
    color: #292F36
}

.container-breath {
    margin-top: 37%;
}

.breath-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    text-align: center;
}

.breath-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.breath-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
}

.breath-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.contain-breath {
    margin-left: 10%;
}

.breath {
    width: 520px;
    height: 500px;
}

.custom-card-breath {
    width: 90%;
    height: 100px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #C3EEE8, #ffffff); 
    border: 2px solid;
    border-image: linear-gradient(to right, #C3EEE8, #ffffff);
    border-image-slice: 1;
}

.custom-card-breath:hover .btn {
    display: block;
}

.card-body {
    margin-top: 7px;
}

.wind-header,
.stress-header,
.self-header {
    margin-top: 0;
    font-family: 'Elsie', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.wind-text,
.stress-text,
.self-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.btn-breath {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
    border-color: #fff;
    font-size: 0;
}

.btn-breath:hover {
    background-color: #fff;
    border-color: #fff;
}

.btn-breath.play::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #259385;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.btn-breath.pause::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 20px;
    background-color: #259385;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-meditation {
    background-image: url('../images/home/bg-meditation.jpg');
    background-size: cover;
    height: 143vh;
    padding: 50px;
}

.contain-meditation {
    margin-top: 3%;
    margin-left: 12px;
}

.meditation-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    margin-top: 50px;
    text-align: center;
}

.meditation-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.meditation-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
    margin-bottom: 20px;
}

.meditation-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.custom-card-meditation {
    height: 160px;
    width: 450px;
    margin-bottom: 15%;
    background: linear-gradient(to right, #C3EEE8, #ffffff);
    border: 2px solid;
    border-image: linear-gradient(to right, #259385, #ffffff);
    border-image-slice: 1;
}

.card-body {
    margin-top: 7px;
}

.meditation {
    width: 310px;
    height: 700px;
    margin-top: 0%;
    margin-left: 55px;
}

.wind-header,
.stress-header,
.self-header {
    margin-top: 0;
    font-family: 'Elsie', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.wind-text,
.stress-text,
.self-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.container-transform {
    margin-top: 5%;
}

.contain-transform {
    margin-top: 0%;
    margin-left: 12px;
}

.transform-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    text-align: center;
}

.transform-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.transform-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
    margin-bottom: 50px;
}

.transform-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.transform-left {
    width: 420px;
    height: 350px;
    margin-left: 22%;
}

.transform-right {
    width: 490px;
    height: 350px;
    margin-left: 10%;
}

.wind-header,
.stress-header,
.self-header {
    margin-top: 0;
    font-family: 'Elsie', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.wind-text,
.stress-text,
.self-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.transform {
    width: 550px;
    margin-top: 5%;
}

.left {
    margin-left: 10%;
}

.right {
    margin-right: 10%;
}

.btn-transform {
    width: 150px;
    border-radius: 15px;
    background-color: #259385;
    border-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.btn-transform:hover {
    background-color: #292F36;
    border-color: #292F36;
    color: #fff;
}

.footer {
    background-image: url('../images/home/bg-footer.jpg');
    background-size: cover;
    height: 35vh;
    padding: 20px;
    text-align: center;
    margin-top: 7%;
}

.footer-logo img {
    width: 100px;
    margin-top: 50px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 50px;
    height: 50px;
}
