.center-content {
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 27%;
}

.yoga-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.yoga-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.container-yoga {
    margin-bottom: 20px;
    margin-top: 30px;
}

.contain-yoga {
    margin-left: 4%;
}

.custom-card-yoga {
    width: 100%;
    max-width: 700px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    background-color: #C3EEE8;
}

.card-body {
    margin-top: 7px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.btn-appointment {
    width: 300px;
    margin-left: 25%;
    margin-top: 30px;
    background-color: #259385;
    border-color: #259385;
    font-family: 'Poppins', sans-serif;
}

.btn-appointment:hover {
    background-color: #259385;
    border-color: #259385;
}

.custom-carousel {
    width: 580px;
    height: 700px;
    margin-left: 60px;
}

.custom-carousel .carousel-item {
    transition: transform 0.5s ease;
    background-image: none;
}

.custom-carousel .carousel-inner {
    overflow: hidden;
}

.prenatal-image {
    width: 550px;
    height: 530px;
}

.therapy,
.hatha {
    width: 540px;
    height: 510px;
}

@media screen and (max-width: 768px) {
    .center-content {
        width: 70%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .yoga-head {
        font-size: 30px;
    }

    .yoga-description {
        font-size: 14px;
    }

    .contain-yoga {
        margin-left: auto;
        margin-right: auto;
    }

    .custom-card-yoga {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .custom-carousel{
        display: none;
    }

    label {
        font-size: 14px;
    }
}