.center-content {
    width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 27%;
}

.yoga-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.yoga-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.text-small-container {
    width: 950px;
    margin-left: 18%;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
}

.card-body {
    margin-top: 7px;
}

.container-meditation {
    background-image: url('../images/home/bg-meditation.jpg');
    background-size: cover;
    height: 143vh;
    padding: 50px;
    margin-bottom: 120px;
}

.contain-meditation {
    margin-top: 4%;
    margin-left: 10px;
}

.left {
    margin-left: 5%;
}

.right {
    margin-left: 60%;
    margin-top: -856px;
}

.custom-card-left {
    height: 225px;
    width: 450px;
    margin-bottom: 15%;
    background: linear-gradient(to right, #C3EEE8, #ffffff);
    border: 2px solid;
    border-image: linear-gradient(to right, #259385, #ffffff);
    border-image-slice: 1;
}

.custom-card-right {
    height: 225px;
    width: 450px;
    margin-bottom: 15%;
    background: linear-gradient(to left, #C3EEE8, #ffffff);
    border: 2px solid;
    border-image: linear-gradient(to left, #259385, #ffffff);
    border-image-slice: 1;
}

.btn-primary {
    background-color: #259385;
    border-color: #259385;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: #259385;
    border-color: #259385;
}

.btn-secondary {
    background-color: #259385;
    border-color: #259385;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btn-secondary:hover {
    background-color: #259385;
    border-color: #259385;
}

.meditation {
    width: 240px;
    height: 600px;
    margin-top: 33%;
    margin-left: 3%;
}

.card {
    width: 450px;
    height: 230px;
}

.card-title {
    font-family: 'Elsie', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .center-content {
        width: 70%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .yoga-head {
        font-size: 30px;
    }

    .yoga-description {
        font-size: 14px;
    }

    .container-meditation {
        background-image: none;
        margin-top: -80px;
        margin-left: 6%;
    }

    .meditation {
        display: none;
    }

    .card {
        background: linear-gradient(to right, #C3EEE8, #ffffff);
        border: 2px solid;
        border-image: linear-gradient(to right, #259385, #ffffff);
        border-image-slice: 1;
    }

    .right {
        margin-top: 0;
        margin-left: 5%;
        margin-bottom: 150px;
    }

    .footer {
        margin-top: 900px !important; 
        width: 100%;
    }
}
