.carousel-item:nth-child(1) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(2) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(3) {
    min-height: 900px;
    background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-position: center;
}

.header-container {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.text-header {
    font-family: "Elsie", sans-serif;
    font-size: 60px;
    color: white;
}

.text-small-container {
    width: 100%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-small {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.image-carousel1 {
    margin-left: 40%;
    align-items: center;
}

.carousel1 {
    height: 280px;
    width: 300px;
    margin-top: 50px;
}

.btn-primary {
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-color: #259385;
}

.btn-start {
    width: 180px;
    height: 50px;
    background-color: #259385;
    border-radius: 30px;
    border-color: #259385;
    margin-left: 40%;
    margin-top: 25px;
}

.btn-start:hover {
    background-color: white;
    border-color: white;
    color: #259385;
}

.image-carousel1 {
    margin-left: 33%;
    align-items: center;
}

.carousel1 {
    height: 100%;
    max-height: 280px;
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

.container-yoga {
    margin-top: 30px;
}

.center-content {
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 27%;
}

.yoga-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.yoga-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.meditation-header {
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5px;
    text-align: center;
}

.meditation-head {
    font-family: 'Elsie', sans-serif;
    font-size: 43px;
    color: #292F36;
}

.yoga-text,
.meditation-text {
    width: 800px;
    margin-left: 26%;
    text-align: center;
}

.meditation-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #292F36;
}

.contain-yoga,
.contain-meditation {
    margin-left: 10%;
}

.custom-card-yoga {
    width: 90%;
    height: 190px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #2dae9d, #ffffff); 
    border: 2px solid;
    border-image: linear-gradient(to right, #2dae9d, #ffffff);
    border-image-slice: 1;
}

.card-body {
    margin-top: 7px;
}

.wind-header,
.stress-header,
.self-header {
    margin-top: 0;
    font-family: 'Elsie', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.wind-text,
.stress-text,
.self-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.custom-carousel {
    width: 580px;
    height: 700px;
    margin-top: 50px;
}

.custom-carousel .carousel-item {
    transition: transform 0.5s ease;
    background-image: none;
}

.custom-carousel .carousel-inner {
    overflow: hidden;
}

.prenatal {
    width: 550px;
    height: 530px;
}

.therapy,
.hatha {
    width: 540px;
    height: 510px;
}

.custom-card-meditation {
    width: 90%;
    height: 190px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #2dae9d, #ffffff); 
    border: 2px solid;
    border-image: linear-gradient(to left, #2dae9d, #ffffff);
    border-image-slice: 1;
}

.card-body-yoga {
    margin-top: 7px;
    text-align: end;
    padding: 15px;
}

.col-md-6 {
    height: 700px !important;
}

.mindfullness {
    width: 620px;
    height:500px;
}

@media screen and (max-width: 768px) {
    .carousel-item {
        min-height: auto;
    }

    .header-container {
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .text-small-container {
        width: 80%;
        text-align: center;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-header {
        font-size: 36px;
    }

    .btn-start {
        width: 180px;
        height: 50px;
        background-color: #259385;
        border-radius: 30px;
        border-color: #259385;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: block;
    }

    .image-carousel1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .carousel1 {
        margin-top: 20px;
        max-width: 300px;
    }

    .center-content {
        width: 70%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .yoga-head {
        font-size: 30px;
    }

    .yoga-description {
        font-size: 14px;
    }

    .contain-yoga,
    .contain-meditation {
        margin-left: 5%;
        margin-right: auto;
    }

    .custom-carousel {
        display: none;
    }

    .card-body-yoga {
        padding: 15px;
    }
}